

h1 {
text-align : center;
background-color : black;
color : white;
font-family: Helvetica;
}

body {
background: white;
font-family :sans-serif;
text-align : left;

}
input[type=text] {
width : 10em;
font-weight: bolder;
padding: 10px;
}

label[for="result"]{
    font-size: 15px;
    margin: 0;

}

input[type=email] {
width : 30em;
}

#submit {

    background-color: rgb(0, 128, 0);
    border: none;
    color: white;
    padding: 16px 15%;
    text-align: center;
    font-size: 24px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    
}

#submit:hover {opacity: 1}
 



.bcontainer {
    text-align: center;
    padding: 10px;
    
}

#announcementbox {
    background-color: rgb(250, 225, 0) ;
    padding: 10px ;
    border: 1px solid green ;
    text-align: center;
    font-size: 32px;
}


.final-quote {
    text-align: center;
    margin: 5px;
}